<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>KSTT_Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowKetQuaDanhGiaListServlet</display-name>
    <servlet-name>ShowKetQuaDanhGiaListServlet</servlet-name>
    <servlet-class>controller.ShowKetQuaDanhGiaListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowKetQuaDanhGiaListServlet</servlet-name>
    <url-pattern>/ShowKetQuaDanhGiaListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDanhSachKetQuaDanhGiaServlet</display-name>
    <servlet-name>ShowDanhSachKetQuaDanhGiaServlet</servlet-name>
    <servlet-class>controller.ShowDanhSachKetQuaDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDanhSachKetQuaDanhGiaServlet</servlet-name>
    <url-pattern>/ShowDanhSachKetQuaDanhGiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchKetQuaDanhGiaServlet</display-name>
    <servlet-name>SearchKetQuaDanhGiaServlet</servlet-name>
    <servlet-class>controller.SearchKetQuaDanhGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchKetQuaDanhGiaServlet</servlet-name>
    <url-pattern>/SearchKetQuaDanhGiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDanhSachHocSinhServlet</display-name>
    <servlet-name>ShowDanhSachHocSinhServlet</servlet-name>
    <servlet-class>controller.ShowDanhSachHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDanhSachHocSinhServlet</servlet-name>
    <url-pattern>/ShowDanhSachHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateHocSinhServlet</display-name>
    <servlet-name>CreateHocSinhServlet</servlet-name>
    <servlet-class>controller.CreateHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateHocSinhServlet</servlet-name>
    <url-pattern>/CreateHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCreateHocSinhServlet</display-name>
    <servlet-name>ShowCreateHocSinhServlet</servlet-name>
    <servlet-class>controller.ShowCreateHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCreateHocSinhServlet</servlet-name>
    <url-pattern>/ShowCreateHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteHocSinhServlet</display-name>
    <servlet-name>DeleteHocSinhServlet</servlet-name>
    <servlet-class>controller.DeleteHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteHocSinhServlet</servlet-name>
    <url-pattern>/DeleteHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchHocSinhServlet</display-name>
    <servlet-name>SearchHocSinhServlet</servlet-name>
    <servlet-class>controller.SearchHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchHocSinhServlet</servlet-name>
    <url-pattern>/SearchHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuayVeTrangChuServlet</display-name>
    <servlet-name>QuayVeTrangChuServlet</servlet-name>
    <servlet-class>controller.QuayVeTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuayVeTrangChuServlet</servlet-name>
    <url-pattern>/QuayVeTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowChiTietHocSinhServlet</display-name>
    <servlet-name>ShowChiTietHocSinhServlet</servlet-name>
    <servlet-class>controller.ShowChiTietHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowChiTietHocSinhServlet</servlet-name>
    <url-pattern>/ShowChiTietHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditHocSinhServlet</display-name>
    <servlet-name>EditHocSinhServlet</servlet-name>
    <servlet-class>controller.EditHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditHocSinhServlet</servlet-name>
    <url-pattern>/EditHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowEditHocSinhServlet</display-name>
    <servlet-name>ShowEditHocSinhServlet</servlet-name>
    <servlet-class>controller.ShowEditHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowEditHocSinhServlet</servlet-name>
    <url-pattern>/ShowEditHocSinhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCreateHocSinhFileServlet</display-name>
    <servlet-name>ShowCreateHocSinhFileServlet</servlet-name>
    <servlet-class>controller.ShowCreateHocSinhFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCreateHocSinhFileServlet</servlet-name>
    <url-pattern>/ShowCreateHocSinhFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietHocSinhServlet</display-name>
    <servlet-name>ChiTietHocSinhServlet</servlet-name>
    <servlet-class>controller.ChiTietHocSinhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietHocSinhServlet</servlet-name>
    <url-pattern>/ChiTietHocSinhServlet</url-pattern>
  </servlet-mapping>
</web-app>